<ion-content>
	<ion-view view-title="Detail">
		<ion-content>

			<div class="content-detail">
				<div class="row">
					<div class="col col-33" ng-repeat="element in detail.elementsD track by $index">
						<div ng-class="element.image">
							<img class="item-list-details" ng-src="{{element.image}}">
							<span class="label-details" ng-class="element.label">{{element.label}}</span>
						</div>
					</div>
				</div>
			</div>


			<div class="bar bar-footer bar-footer-detail">
		      	<a class="tab-item">
		        <img ng-src="img/sensors/palmadas.png" class="icon">
		      	</a>
		      	<a class="tab-item">
		        <img ng-src="img/sensors/movimiento_mucho.png" class="icon">
		      	</a>
		      	<a class="tab-item">
		        <img ng-src="img/sensors/consumo_0W.png" class="icon">
		      	</a>
		      	<a class="tab-item">
		        <img ng-src="img/sensors/luz_full.png" class="icon">
		      	</a>
		      	<a class="tab-item">
		        <img ng-src="img/sensors/temperatura_mayor0C.png" class="icon">
		      	</a>
		      	<a class="tab-item">
		        <img ng-src="img/sensors/humo.png" class="icon">
		      </a>
			</div>
			{{detail.message}}
		</ion-content>
	</ion-view>
</ion-content>