<ion-content>
	<ion-view view-title="Detail">
		<ion-content>
			<div class="content-detail">
				<div class="row">
					<div class="col col-33" ng-repeat="element in detail.elements track by $index">
						<div ng-class="element.class" class="item-list" ng-if="element.label !== ''">
							<span>{{element.label}}</span>
						</div>
					</div>
				</div>
			</div>

			<div class="bar bar-footer bar-footer-detail">
		      	<a class="tab-item">
		        <img ng-src="img/sensors/palmadas.png" class="icon">
		      	</a>
		      	<a class="tab-item">
		        <img ng-src="img/sensors/movimiento_mucho.png" class="icon">
		      	</a>
		      	<a class="tab-item">
		        <img ng-src="img/sensors/consumo_0W.png" class="icon">
		      	</a>
		      	<a class="tab-item">
		        <img ng-src="img/sensors/luz_full.png" class="icon">
		      	</a>
		      	<a class="tab-item">
		        <img ng-src="img/sensors/temperatura_mayor0C.png" class="icon">
		      	</a>
		      	<a class="tab-item">
		        <img ng-src="img/sensors/humo.png" class="icon">
		      </a>
			</div>
		</ion-content>
	</ion-view>
</ion-content>