<div class="bar bar-white bar-header" ng-class="base.classHeader">
	<img src="img/icono_app_Android.png" class="img_head_left button button-clear" ng-click="base.onClickBack()">
	<h1 class="title">Hogar</h1>
	<img src="img/martillo.png" class="img_head_right button button-clear">
</div>


<div class="bar bar-subheader" ng-if="!base.classHeader">
	<div ng-repeat="room in base.rooms track by $index" class="subitem" ng-click="base.onClickDetail(room.Room.id)" ng-class="(base.idRoomSelected === room.Room.id ? 'activate' : '')">
		{{room.Room.name | capitalize}}
	</div>
</div>