<ion-content>
	<ion-view view-title="Principal">
		<ion-content ng-cloak class="has-footer">


			<!--<ion-slides  options="options" slider="data.slider">-->


			<div ng-show="!principal.cargando" class="content-principal">
				<div class="row">

					<!--<ion-slide-page>-->


					<div class="box col col-33 delay" ng-repeat="element in principal.applications track by $index">
						<div ng-click="principal.toggleApp(element)">
							<img class="item-list-principal" ng-src="{{element.image}}">
							<center><span class="label-principal" ng-class="element.label">{{element.label | limitTo:principal.letterLimit}}</span></center>
						</div>
					</div>

					<div class="box col col-33 delay" ng-repeat="element in principal.applications track by $index">
						<div ng-click="principal.toggleApp(element)">
							<img class="item-list-principal" ng-src="{{element.image}}">
							<center><span class="label-principal" ng-class="element.label">{{element.label | limitTo:principal.letterLimit}}</span></center>
						</div>
					</div>

					<div class="box col col-33 delay" ng-repeat="element in principal.applications track by $index">
						<div ng-click="principal.toggleApp(element)">
							<img class="item-list-principal" ng-src="{{element.image}}">
							<center><span class="label-principal" ng-class="element.label">{{element.label | limitTo:principal.letterLimit}}</span></center>
						</div>
					</div>



					<!--</ion-slide-page>-->

				</div>
			</div>


			<!--</ion-slides>-->

			<div ng-show="principal.cargando" class="loading">
                <div class="spinner">
                    <ion-spinner icon="ripple" class="centered-spinner spinner-light"></ion-spinner>
                </div>
            </div>
			
		</ion-content>

			<ion-footer-bar class="bar bar-footer bar-footer-principal">
		      	<a class="tab-item">
		        	<img ng-src="{{principal.imgN.srcNoise}}"  class="icon" >
		      	</a>

		      	<a class="tab-item">
		        	<img ng-src="{{principal.imgM.srcMovement}}"  class="icon">
		      	</a>
		      	<a class="tab-item">
		        	<img ng-src="{{principal.imgP.srcPower}}"  class="icon">
		      	</a>
		      	<a class="tab-item">
		        	<img ng-src="{{principal.imgL.srcLuminosity}}"  class="icon">
		      	</a>
		      	<a class="tab-item">
		        	<img ng-src="{{principal.imgT.srcTemperature}}"  class="icon">
		      	</a>
		      	<a class="tab-item">
		        	<img ng-src="{{principal.imgS.srcSmoke}}"  class="icon">
		      	</a>
			</ion-footer-bar>
	</ion-view>
</ion-content>