<ion-content>
	<ion-view view-title="Principal">
		<ion-content ng-cloak>

			<div ng-show="!principal.cargando" class="content-principal">
				<div class="row">
					<div class="col col-33 p" ng-repeat="element in principal.applications track by $index">
						<div ng-click="principal.toggleApp(element)">
							<img class="item-list-principal" ng-src="{{element.image}}">
							<center><span class="label-principal" ng-class="element.label">{{element.label}}</span></center>
						</div>
					</div>
				</div>
			</div>

			<div ng-show="principal.cargando" class="loading">
                <div class="content-spinner">
                    <ion-spinner icon="ripple" class="center-spinner spinner-light"></ion-spinner>
                </div>
            </div>


			<div class="bar bar-footer bar-footer-principal">
		      	<a class="tab-item">

		        <img src="img/sensors/palmadas.png"  class="icon">
		      	</a>
		      	<a class="tab-item">
		        <img src="img/sensors/movimiento_mucho.png"  class="icon">
		      	</a>
		      	<a class="tab-item">
		        <img src="img/sensors/consumo_0W.png"  class="icon">
		      	</a>
		      	<a class="tab-item">
		        <img src="img/sensors/luz_full.png"  class="icon">
		      	</a>
		      	<a class="tab-item">
		        <img src="img/sensors/temperatura_mayor0C.png"  class="icon">
		      	</a>
		      	<a class="tab-item">
		        <img src="img/sensors/humo.png"  class="icon">
		      </a>

			</div>
		</ion-content>
	</ion-view>
</ion-content>