<ion-content>
	<ion-view view-title="Principal">
		<ion-content>

			<div class="content-principal">
				<div class="row">
					<div class="col col-33" ng-repeat="element in principal.elementsD track by $index">
						<div>
							<img class="item-list-principal" ng-src="{{element.image}}">
							<span class="label-principal" ng-class="element.label">{{element.label}}</span>
						</div>
					</div>
				</div>
			</div>

			<!--<button ng-click="principal.aumentar()">
				prueba
			</button>

			{{principal.prueba}}-->


			<div class="bar bar-footer bar-footer-principal">
		      	<a class="tab-item">
		        <img src="img/sensors/palmadas.png" width="32" height="32" class="icon">
		      	</a>
		      	<a class="tab-item">
		        <img src="img/sensors/movimiento_mucho.png" width="32" height="32" class="icon">
		      	</a>
		      	<a class="tab-item">
		        <img src="img/sensors/consumo_0W.png" width="32" height="32" class="icon">
		      	</a>
		      	<a class="tab-item">
		        <img src="img/sensors/luz_full.png" width="32" height="32" class="icon">
		      	</a>
		      	<a class="tab-item">
		        <img src="img/sensors/temperatura_mayor0C.png" width="32" height="32" class="icon">
		      	</a>
		      	<a class="tab-item">
		        <img src="img/sensors/humo.png" width="32" height="32" class="icon">
		      </a>

			</div>
		</ion-content>
	</ion-view>
</ion-content>