<ion-content>
	<ion-view view-title="Home">
		<ion-content ng-cloak>
			<div ng-show ="!home.cargando" class="content-home">
				<div class="row">
					<div class="col col-33 relative delay" ng-repeat="room in home.rooms track by $index">
						<div ng-class="room.appInfo.active" class="item-list" ng-click="home.onClickDetail(room.id)">
							<span>{{room.name | capitalize}}</span>
						</div>
						<img ng-if="room.appInfo.active == 'list-white'" class="item-notification" src="img/notihome.png" alt="">
						<span ng-if="room.appInfo.active == 'list-white'" class="number-app">{{room.appInfo.appsActive}}</span></img>
					</div>
				</div>
			</div>

			<!--<button ng-click="home.aumentar()">
				prueba
			</button>

			{{home.prueba}}-->

			<div ng-show="home.cargando" class="loading">
                <div class="content-spinner">
                    <ion-spinner icon="ripple" class="center-spinner spinner-light"></ion-spinner>
                </div>
            </div>
		</ion-content>
	</ion-view>
</ion-content>

